<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
    </head>
    <body>
        <h1>Login Page</h1>
        <form id="login-form">

            <input type="email" id="email" placeholder="email" />
            <br />
            <br />
            <input type="password" id="password" placeholder="password" />

            <button id="login-button" type="submit" onClick="loginSubmit(event)">Submit</button>
        </form>
    </body>

    <script>
        let submittedSuccessfully = false;

        function loginSubmit(event){
                event.preventDefault();

                //Check if the form has been submitted already
                if(submittedSuccessfully){
                    alert("You have submitted too many times!");
                    return;
                }

                const email = document.getElementById('email').value;

                const password = document.getElementById('password').value;

                if(email == "test@example.com" && password == "password123"){
                    alert('Login Successful!');
                    submittedSuccessfully = true;
                } else {
                    alert('Invalid credentials');
                }

         }
    </script>    
</html>